      <h3>Contacts list</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th>Notes</th>
        </tr>
        <% @contacts.each do |person| -%>
        <tr>
    <td><%= person.first_name %> <%= person.last_name%></td>
    <td><a href="mailto:<%= person.email %>"><%= person.email %></a></td>
    <td><%= person.note%></td>
      </tr>

    <% end %>
    </table>
